/*Organisation du fichier CSS :
	- corps du site (ligne 7)
		+ header (ligne 8)
		+ main (ligne 13)
*/

/* CORPS DU SITE */
/* HEADER */
header {
	background-image: url(images/punta_del_este_1010x365px.jpg);
}

/* MAIN */
#ecurie h3 {
	text-align: center;
}

/* Création d'une grille pour un meilleur placement de la liste */
#feVSf1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	list-style-type: none;
}

#feVSf1 h4 {
	text-align: center;
}
