/*Organisation du fichier CSS :
	- définition des polices, remise à zéros de valeurs
	- corps du site
		+ header
		+ body
		+ footer

*/

/*POLICES*/
@font-face {
	font-family: K2D;
	src: url(polices/K2D-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(polices/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/*CORPS DU SITE*/
body {
	margin: 0;
    padding: 0;
	color: #212529;
	background-color: #eee;
	text-align: justify;
    font-family: 'Roboto', sans-serif;
}

h1, nav ul li,
main a:hover,
main a:active,
footer a:hover,
footer a:active,
main p:first-letter {
	font-weight: bold;
}
h1, nav ul li {
	text-transform: uppercase;
}
a:hover,
a:active,
svg {
	cursor: pointer;
}

/*HEADER*/
header {
	height: 100vh;
	background-image: url(../images/formule_e_motorsport.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

nav {
	width: 100%;
	margin: auto;
	background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

nav a {
    margin-right: 30px;
}

nav img {
    margin-left: 10px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0 10px 0 auto;
    padding: 0;
}
nav li {
    display: inline-block;
    transition: 0.7s ease-in-out;
}
.active,
nav ul li:hover,
nav ul li:active {
	background-color: rgba(0, 153, 153, .5);
	border-radius: 8px;
}
nav ul li a {
	text-decoration: none;
    color: #000;
    margin-right: 0;
	padding: 10px;
}

nav li a {
    display: block;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #000;
    text-decoration: none;
}
.show-menu {
    background: #138f64;
    text-align: right;
    height: 65px;
    line-height: 65px;
    padding: 10px 5px;
    display: none;
}
.show-menu svg {
    height: 65px;
	width: 65px;
	margin: 0;
	padding: 0;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked ~ #menu {
    display: block;
}

.circle {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 110px;
	font-size: 80px;
	overflow: hidden;
}
.circle svg {
	height: 65px;
	width: 65px;
	margin: 0;
	padding: 0;
	animation: animate 1s linear infinite;
}
@keyframes animate {
	0% {
		transform: translateY(-50px);
	}
	20% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(0px);
	}
	80% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(100px);
	}
}

/*MAIN*/
main {
	display: grid;
	grid-template-columns: 200px 1fr;
	background-color: #eee;
}

aside {
	width: 90%;
	margin: 10px;
}
aside ul {
	margin: 0;
	padding: 0;
	padding: 3px;
	list-style-type: none;
	background-color: #24ad46;
}
aside ul li {
	background-color: #006600;
	padding: 5px;
	margin: 7px;
	border-left: 2px solid #ff6600;
}
aside ul .sub-section {
	margin-left: 20px;
	border-left: 2px solid #ffd11a;
}
aside ul li a {
	text-decoration: none;
	color: #eee;
}

h1, h2 {
	font-family: 'K2D', sans-serif;
}
h1 {
	text-shadow: 1px 1px #1d1616;
	font-size: 300%;
	margin: 10px 0 10px 0;
	text-align: center;
}
h2 {
	margin-left: 20px;
}

p {
	padding: 5px 0;
}

main p:first-letter {
	padding-left: 45px;
	font-size: 120%;
}

article {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 30px 20px 30px;
}
article a, article a:visited,
footer a, footer a:visited {
	text-decoration: none;
	color: #0099cc;
	transition: 0.55s ease;
}
article a:hover {
	color: #000066;
}
main ul {
    margin-left: 12px;
}
main li {
	margin: 0 0 0 5px;
	padding: 0 0 0 10px;
}

figure {
    width: 250px;
	height: auto;
	float: right;
	margin: 0 0 0 20px;
	box-sizing: content-box;
}
figure img {
    width: 100%;
    height: auto;
	display: block;
}
figcaption {
    font-style: italic;
    font-size: 70%;
    padding: 3px 0 0 0;
}

.center-iframe {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto 25px auto;
}
iframe {
	width: 100%;
	height: 60vh;
}

.scrollUp {
	position: fixed;
	bottom: 15px;
	right: 15px;
	opacity: 0.5;
}
.scrollUp img {
	width: 60px;
	height: 60px;
}


/*FOOTER*/
footer {
	font-size: 85%;
	padding: 10px;
	background-color: #25282d;
	color: #eee;
}
footer article a:hover {
	color: #39598e;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer ul li {
	margin-top: 2px;
}
footer p {
	margin: 0 0 0 20px;
}
.sources {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	color: rgb(156, 143, 143);
}
.sources h3 {
	text-align: center;
}
.sources ul li {
	margin-left: 30px;
	list-style-type: square;
	text-indent: 5%; 
}



@media (max-width : 890px){
    .logo {
        background-color: #3dd;
    }
    nav ul {
        position: relative;
        display: none;
        margin-right: 0;
        background-color: #3dd;
    }
    nav li {
        margin-bottom: 1px;
    }
    nav ul li, a {
        width: 100%;
		text-align: center;
    }
    nav li a {
        height: 50px;
        line-height: 50px;
    }
    .show-menu {
        display: block;
	}
	.scrollUp {
		display: none;
	}

	nav img {
		margin: 10px 0 10px 0;
		height: 55px;
		width: auto;
	}

	.show-menu {
		height: 60px;
		line-height: 60px;
	}
	.show-menu svg {
		height: 40px;
		width: 40px;
		margin: 8px 8px 8px 0;
		padding: 0;
	}
}



@media (max-width: 700px){
    main {
		display: initial;
	}
	aside {
		margin-top: 30px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
	header {
        height: 50vh;
        background-position-y: 0px;
	}
	.circle, .circle svg {
		display: none;
	}
	.sources ul li {
		text-indent:5px; 
	}
    .sources {
        display: initial;
    }
    h2 {
        text-align: center;
    }
    main p:first-letter {
        padding-left: 20px;
    }
    article {
        padding: 20px 0 20px 0;
    }
    footer p {
        margin: 0 0 0 0;
	}
	footer h3 {
		margin: 15px 0 0 0;
	}
}

@media (max-width: 435px){
    main figure {
        margin: 0;
        float: none;
        width: 100%;
        height: auto;
    }
}