/*Organisation du fichier CSS :
	- définition des polices, remise à zéros de valeurs (ligne 20)
	- corps du site (ligne 38)
		+ header (ligne 62)
			* barre de navigation principale (ligne 72)
			* flèche descendante animée (ligne 137)
		+ main (ligne 184)
			* menu secondaire, menu page (ligne 191)
			* conteneur (ligne 221)
			* contenu vidéo YouTube : mise en place de son adaptivité face aux tailles de navigateur (ligne 302)
			* flèche pour remonter au header (ligne 317)
		+ footer (ligne 331)
			* disposition des sources (ligne 353)
	- mise en place du responsive (@media) (ligne 372)
		+ tailles minimales
			* 2000px (ligne 373)
		+ tailles maximales
			* 890px (ligne 382)
			* 700px (ligne 433)
			* 435px (ligne 466)
*/

/*POLICES*/
/* Importations des polices */
@font-face {
	font-family: K2D;
	src: url(polices/K2D-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(polices/Roboto-Regular.ttf);
}

/* Remise à zéro des marges internes et externes de chaques éléments HTML */
* {
    margin: 0;
    padding: 0;
}

/*CORPS DU SITE*/
body {
	font-size: 16px;
	margin: 0;
    padding: 0;
	color: #212529;
	background-color: #eee;
	text-align: justify;
    font-family: 'Roboto', sans-serif;
}

/* On met en lettre capitale */
h1, nav ul li {
	font-weight: bold;
	text-transform: uppercase;
}

/* Changement de curseur */
a:hover,
a:active,
svg {
	cursor: pointer;
}

/*HEADER*/
header {
	height: 100vh; /* Prend toute la hauteur de la fenêtre */
	background-image: url(images/formule_e_motorsport.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; /* Couvre tout la header */
	z-index: 99;
}

/* BARRE DE NAVIGATION PRINCIPALE */
nav {
	width: 100%;
	margin: auto;
	background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 5fr; /* 1fr pour le logo et 5fr pour le ul (donc 1fr pour chaque li) */
}
nav a {
    margin-right: 30px;
}
nav img {
    margin-left: 10px;
    width: auto;
}
nav ul {
    list-style-type: none;
    margin: 0 10px 0 auto;
    padding: 0;
}
nav li {
    display: inline-block; /* Affichage en ligne des éléments */
    transition: 0.4s ease-in-out; /* Effet de transition lors du survol des liens de la barre */
}
.active,
nav ul li:hover,
nav ul li:active {
	background-color: rgba(0, 153, 153, .5);
	border-radius: 8px;
}
nav li a {
    display: block; /* Permet de prendre tout l'espace inutile du li pour pouvoir faire de plus gros lien cliquable */
    height: 65px;
    text-align: center;
	line-height: 65px;
	text-decoration: none;
    color: #000;
    margin-right: 0;
	padding: 10px;
}
/* "Menu déroulant" pour afficher le menu principal */
.show-menu {
    background: #138f64;
    text-align: right;
    height: 65px;
    line-height: 65px; /* En mettant les mêmes valeurs aux propriété height et line-height, cela permet de centrer verticalement le texte */
    padding: 10px 5px;
    display: none;
}
/* Définition de taille pour l'image au format .svg */
.show-menu svg {
    height: 65px;
	width: 65px;
	margin: 0;
	padding: 0;
}
/* Désaffichage de la checkbox */
input[type=checkbox] {
    display: none;
}
/* Si la checkbox est checkée, le menu apparaît */
input[type=checkbox]:checked ~ #menu {
    display: block;
}

/* CRÉATION DE LA FLÈCHE DESCENDANTE ANIMÉE */
/* Création du cercle */
.circle {
	position: absolute; /* Aboslute pour que le cercle ne se trouve que dans le header */
	top: 90%; /* Placement du cercle */
	left: 50%;
	transform: translate(-50%, -50%); /* Recentrage du cercle */
	border: 2px solid black;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 110px;
	font-size: 80px;
	overflow: hidden; /* On cache l'animation (les éléments) qui dépasse du cercle */
}
/* On utilise une image au format .svg d'une flèche orientée vers le bas */
.circle svg {
	height: 60px;
	width: 55px;
	margin: 0;
	padding: 0;
	animation: animate 1s linear infinite; /* Animation de la flèche */
}
/* Création de l'animation de la flèche */
@keyframes animate {
	0% {
		transform: translateY(-100px);
	}
	20% {
		transform: translateY(-10px);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(100px);
	}
}


/*MAIN*/
main {
	display: grid; /* On affiche une grille */
	grid-template-columns: 200px 1fr; /* 200px = élément aside, 1fr = reste de la page pour élément de classe wrapper */
	background-color: #eee;
}

/* MENU SECONDAIRE, MENU POUR PAGE */
aside {
	width: 90%;
	margin: 100px 10px 10px 10px;
}
aside ul {
	margin: 0;
	padding: 0;
	padding: 3px;
	list-style-type: none;
	background-color: #24ad46;
}
aside ul li {
	background-color: #006600;
	padding: 5px;
	margin: 7px;
	border-left: 2px solid #ff6600;
}
/* On met une marges à gauche pour les éléments li de class sub-section pour qu'ils soient affiché comme une sous-partie */
aside ul .sub-section {
	margin-left: 20px;
	border-left: 2px solid #ffd11a;
}
aside ul li a {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #eee;
}

/* CRÉATION D'UN CONTENEUR POUR LE CONTENU DE LA PAGE */
/* On réduit la largeur de 10% et on le centre */
.wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 30px;
}

/* On change la police de tous les éléments h1 et h2 */
h1, h2 {
	font-family: 'K2D', sans-serif;
}
h1 {
	text-shadow: 1px 1px #1d1616;
	font-size: 3em;
	margin: 10px 0 10px 0;
	text-align: center;
}
h2 {
	margin: 10px 0 3px 20px;
}
h3 {
	margin: 6px 0 2px 30px;
}

p {
	padding: 5px 0;
}
/* Décalage de la première lettre de chaque paragraphe situé dans l'élément main (faire un alinéa et une petite lettrine) */
main p:first-letter {
	padding-left: 45px;
	font-size: 1.2em;
	font-weight: bold;
}

main a:hover, main a:active,
footer a:hover, footer a:active {
	font-weight: bold;
}
main .wrapper a, main .wrapper a:visited,
footer .wrapper a, footer .wrapper a:visited {
	text-decoration: none;
	color: #0099cc;
	transition: 0.3s ease; /* Effet de transition au survol des liens */
}
main .wrapper a:hover {
	color: #000066;
}

/* On définit des marges plus appropriées au contenu de la page (car réinitialisé au début) */
main ul, main ol {
    margin-left: 12px;
}
main li {
	margin: 0 0 0 5px;
	padding: 0 0 0 10px;
}

/* On place les éléments figure ayant comme classe main_image à droite avec une taille de 250 pixels entouré par le texte */
figure.main_image {
    width: 15.625em;
	height: auto; /* Prendra la taille de l'image pour ne pas la découper ou laisser des marges internes */
	float: right;
	clear: both;
	margin: 0 0 0 20px;
	box-sizing: content-box;
	text-align: center;
}
/* On recentre l'image dans la figure et elle prend toute la place disponible en fonction de sa taille */
figure.main_image img {
    width: 100%;
    height: auto;
	display: block;
}
figure.main_image figcaption {
    font-style: italic;
    font-size: 0.7em;
    padding: 3px 0 0 0;
}

/* CONTENU VIDÉO YOUTUBE : MISE EN PLACE DE L'ADAPTIVITÉ FACE AUX TAILLES DE NAVIGATEUR */
/* Placement de l'élément div contenant la vidéo */
.center-iframe {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 10px auto 10px auto;
}
/* Définition de la taille de la vidéo */
iframe {
	width: 100%; /* Prend 100% de l'espace disponible en largeur du bloc */
	height: 60vh; /* Prend 60% de la hauteur du navigateur */
}

/* FLÈCHE POUR REMONTER AU HEADER */
/* On le fixe en bas à droite avec une opacité (petite transparence) */
.scrollUp {
	position: fixed;
	bottom: 15px;
	right: 15px;
	opacity: 0.5;
}
.scrollUp img {
	width: 60px;
	height: 60px;
}


/*FOOTER*/
footer {
	font-size: 0.85em; /* Réduction de la taille de toutes les polices contenues dans l'élément footer */
	padding: 10px;
	background-color: #25282d;
	color: #eee;
}
footer .wrapper a:hover {
	color: #39598e; /* Couleur différente au survol par rapport aux éléments a contenues dans le main */
}
footer ul {
	list-style: none; /* On enlève le style des listes du footer */
	margin: 0;
	padding: 0;
}
footer ul li {
	margin-top: 2px;
}
footer p {
	margin: 0 0 0 20px;
}

/* DISPOSITION DES SOURCES */
.sources {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr; /* 1er : Sources documentaires, 2ème : Images, 3ème : Sources code (techniques) */
	grid-gap: 20px;
	color: rgb(156, 143, 143);
}
.sources h3 {
	text-align: center;
}
.sources ul li {
	margin-left: 30px;
	list-style-type: square; /* On remet un style de liste mais que pour les sous-listes */
	text-indent: 5%; /* On fait une indentation du texte */
}


/* MISE EN PLACE POUR LE RESPONSIVE */
@media (min-width: 2000px){
	body {
		font-size: 35px;
	}
	main {
		grid-template-columns: 500px 1fr;
	}
}

@media (max-width : 890px){
	.logo {
        background-color: #3dd;
	}
	nav img {
		margin: 10px 0;
		height: 55px;
		width: auto;
	}
    nav ul {
        position: relative;
        display: none; /* Désaffichage du menu (remplacer pour le système de checkbox et menu déroulant (ligne 120)) */
        margin-right: 0;
        background-color: #3dd;
    }
    nav li {
        margin-bottom: 1px;
    }
    nav ul li, nav a {
        width: 100%;
		text-align: center;
    }
    nav li a {
        height: 50px;
        line-height: 50px;
    }
	
	/* Redimentionnage du bouton et de l'image */
	.show-menu {
		display: block; /* Affichage du bouton pour dérouler le menu */
		height: 60px;
		line-height: 60px;
	}
	.show-menu svg {
		height: 40px;
		width: 40px;
		margin: 8px 8px 8px 0;
		padding: 0;
	}

	main {
		display: initial; /* Suppression des grilles */
	}
	aside {
		display: none;
    }
	.scrollUp {
		display: none; /* Désaffichage de la flèche de remontée */
	}
}

@media (max-width: 700px){
	header {
        height: 50vh; /* Le header prend 50% de la hauteur du navigateur */
        background-position-y: 0px; /* Positionnage à 0 en hauteur pour l'image d'arrière-plan */
	}
	.circle, .circle svg {
		display: none; /* Désaffichage de la flèche de descente animée */
	}

	.wrapper {
        padding: 20px 0;
    }
    h2 {
        text-align: center;
	}
    main p:first-letter {
        padding-left: 20px;
    }
    
    footer p {
        margin: 0;
	}
	.sources {
        display: initial; /* Suppression des grilles pour les sources */
    }
	.sources h3 {
		margin: 15px 0 0 0;
	}
	.sources ul li {
		text-indent:5px; 
	}
}

@media (max-width: 435px){
	/* L'élément figure prend désormais toute la taille du bloc dans lequel il se trouve */
    figure.main_image {
        margin: 0;
        float: none;
        width: 100%;
        height: auto;
    }
}