/*Organisation du fichier CSS :
    - importation des polices (ligne 8)
    - corps de la page imprimable (ligne 19)
        + désactivation des éléments ne contenant aucun contenu (ligne 24)
*/


/* IMPORT DES POLICES */
@font-face {
	font-family: K2D;
	src: url(polices/K2D-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(polices/Roboto-Regular.ttf);
}

/* CORPS DE LA PAGE IMPRIMABLE */
body {
    font-family: 'Roboto', 'sans-serif';
}

/* On désactive pour ne laisser que le contenu */
header, aside, .center-iframe, .scrollUp, footer {
    display: none;
}

h1, h2, h3 {
    font-family: 'K2D', 'sans-serif';
}

h1 {
    font-size: 300%;
    text-align: center;
    color: red;
}

h2 {
    font-size: 200%;
    margin-left: 50px;
}

/* On place les éléments figure à droite avec une taille de 250 pixels entouré par le texte */
figure {
    width: 250px;
	height: auto; /* Prendra la taille de l'image pour ne pas la découper ou laisser des marges internes */
	float: right;
	margin: 0 0 0 20px;
	box-sizing: content-box;
}
/* L'image prend toute la place disponible en fonction de sa taille */
figure img {
    width: 100%;
    height: auto;
	display: block;
}
figcaption {
    font-style: italic;
    font-size: 85%;
    padding: 3px 0 0 0;
}

/* Coloration des liens qu'ils soient visité, cliqué ou non */
a, a:visited, a:active {
    color: #000066;
}

/* Décalage de la première lettre de chaque paragraphe (faire un alinéa et une petite lettrine) */
p:first-letter {
	padding-left: 35px;
	font-size: 120%;
}

p {
    text-align: justify;
}